*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



header{
    padding: 7px 0px;
}

nav {
    background: #fff;
    height: 80px;
    width: 100%;
}

nav img {
    width: 100px;
    margin-left: 20px;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    list-style: none;
    display: inline-block;
    line-height: 80px;
    margin: 0 30px;
}

nav ul li a {
    color: black;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 4px;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 300ms ease;
}

a:hover {
    transform: scale(1.4);
    background: #47d6c3;
}

.checkbtn {
    font-size: 30px;
    color: #000;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media(max-width: 720px) {
    .checkbtn {
        display: block;
    }

    ul {
        position: fixed;
        width: 100%;
        height: 50vh;
        background-color: #000;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li {
        margin: 50px 0;
        line-height: 30px;
        display: block;
    }

    nav ul li a {
        font-size: 20px;
        color: #fff;
        transition: all 200ms ease;
    }

    nav ul li a:hover {
        background: none;
        font-weight: 700;
    }


    #check:checked~ul {
        left: 0;
    }


}

.proyecto_appsScipt{
    display: flex;
    height: 100vh;
    color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(0deg, 
    rgba(0,0,0,0.4),
    rgba(0,0,0,0.4)), url(/img/banner2.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.proyecto_appsScipt img{
    width: 50%;
}

.proyecto_appsScipt h2{
    margin-top: 20px;
    font-size: 3em;
    text-align: center;
}

.proyecto_appsScipt p{
    margin: 20px 70px;
    font-size: 20px;
    text-align: justify;
}

.proyecto_appsScipt a{
    background: #fff;
    color: #199686;
    font-weight: 500;
    font-size:20px;
    padding: 7px;
    border-radius: 10px;
    text-decoration: none;
    border: 2px solid #199686;
    transition: all 300ms ease;
}

.proyecto_appsScipt a:hover{
    background: #199686;
    color: white;
}




.proyectoPagina{
    display: flex;
    height: 100vh;
    color: white;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(0deg, 
    rgba(0,0,0,0.4),
    rgba(0,0,0,0.4)), url(/img/banner3.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.proyectoPagina img{
   width: 50%;
}

.proyectoPagina h2{
    margin-top: 20px;
    font-size: 3em;
    text-align: center;
}

.proyectoPagina p{
    margin: 20px 70px;
    font-size: 20px;
    text-align: justify;
}

.proyectoPagina a{
    background: #fff;
    color: #199686;
    font-weight: 500;
    font-size:20px;
    padding: 7px;
    border-radius: 10px;
    text-decoration: none;
    transition: all 300ms ease;
    border: 2px solid #199686;
}

.proyectoPagina a:hover{
    background: #199686;
    color: white;
}


